org_id                 = "1234567890"
billing_account        = "000000-000000-000000"
default_region         = "us-central1"
default_zone           = "us-central1-f"
folder_id              = "1234567890"
project_id             = "cicd-terraform"