org_id                 = "1234567890"
billing_account        = "000000-000000-000000"
group_org_admins       = "gcp-org-admins@domain.com"
group_billing_admins   = "gcp-billing-admins@domain.com"
default_region         = "us-central1"
default_zone           = "us-central1-f"
folder_id              = "1234567890"
project_id             = "cicd-terraform"